.hero {
  min-height: 350px;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  text-align: center;
}

.title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}
