.section {
  background-color: #e6e7e8;

  padding: 50px 0;
}

.title {
  font-size: 28px;
  line-height: 34px;
  color: rgb(140, 139, 139);
  font-weight: 400;
  text-align: center;

  margin-bottom: 40px;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.group iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

@media (max-width: 1000px) {
  .group {
    grid-template-columns: 1fr;
  }
}
