.section {
  padding-top: 50px;

  width: 100vw;
  overflow-x: hidden;
}

.section img {
  width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}

.textGroup {
  margin-bottom: 50px;
}

.infoTitle {
  color: rgb(51, 51, 51);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoText {
  line-height: 24px;
  font-weight: 400;
}

.infoText a {
  font-weight: 600;
  color: #c36;
}
